# WalletConnect Project ID
# Получите на https://cloud.walletconnect.com/
VITE_WALLET_CONNECT_PROJECT_ID=your_project_id_here

# CXBT Diamond Contract Address
VITE_CXBT_DIAMOND_ADDRESS=0x90C41F9c7Ee0dA9Ce1760be857a760915B30267b

# PAID Token Address
VITE_PAID_TOKEN_ADDRESS=0x60a3e35cc302bfa44cb288bc5a4f316fdb1adb42
